:root {
	--background-color: #F1F3F6;
	--text-backround-color1: #E4E5E7;
	--text-backround-color2: #EFEFEF;
	--body-color: #112B3C;
	--base-color: #F66B0E;
	--hover-color: #205375;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Ubuntu Mono", monospace;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	background-color: var(--background-color);
	color: var(--body-color);
	;
	overflow-y: scroll;
}

header,
nav,
section,
footer {
	padding: 2px calc((100% - 800px) / 2) 0;
}

section {
	margin-top: 52px;
	margin-bottom: 52px;
	min-height: calc(100vh - 340px);
	overflow: auto;
}

h1 a {
	font-size: 36px;
	font-weight: bold;
	background-image: url("/static/img/logo.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 36px;
	padding-left: 50px;
	position: relative;
}

h1 a:hover {
	text-decoration: none;
	color: var(--body-color);
	;
}

h2 {
	font-size: 22px;
	margin-bottom: 36px;
	position: relative;
	top: -9px;
}

a {
	color: var(--base-color);
	;
	text-decoration: none;
}

a:hover {
	color: var(--hover-color);
	;
	text-decoration: underline;
}

input:not([type="submit"]) {
	font-size: 18px;
	font-family: "Ubuntu Mono", monospace;
}

header {
	background-image: -webkit-linear-gradient(left, var(--body-color), var(--body-color) 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, var(--base-color) 45%, var(--base-color) 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -moz-linear-gradient(left, var(--body-color), var(--body-color) 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, var(--base-color) 45%, var(--base-color) 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -ms-linear-gradient(left, var(--body-color), var(--body-color)d 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, var(--base-color) 45%, var(--base-color) 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: linear-gradient(to right, var(--body-color), var(--body-color) 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, var(--base-color) 45%, var(--base-color)55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-size: 100% 6px;
	background-repeat: no-repeat;
	border-bottom: 1px solid var(--text-background-color1-color);
	;
	overflow: auto;
	padding-top: 33px;
	padding-bottom: 27px;
	text-align: center;
}

header a {
	color: var(--body-color);
	;
	text-decoration: none;
}

nav {
	border-bottom: 1px solid var(--text-background-color1-color);
	;
	padding-top: 17px;
	padding-bottom: 15px;
	background: #F7F9FA;
	height: 60px;
	color: var(--text-background-color2-color);
	;
}

nav a {
	margin-right: 1.5em;
	display: inline-block;
}

nav form {
	display: inline-block;
	margin-left: 1.5em;
}

nav div {
	width: 50%;
	float: left;
}

nav div:last-child {
	text-align: right;
}

nav div:last-child a {
	margin-left: 1.5em;
	margin-right: 0;
}

input[type="submit"] {
	background-color: var(--base-color);
	;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 18px 27px;
	border: none;
	display: inline-block;
	margin-top: 18px;
	font-weight: 700;
}

input[type="submit"]:hover {
	background-color: var(--hover-color);
	;
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}

form div {
	margin-bottom: 18px;
}

form div:last-child {
	border-top: 1px dashed var(--text-background-color1-color);
	;
}

form input[type="radio"] {
	position: relative;
	top: 2px;
	margin-left: 18px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
	padding: 0.75em 18px;
	width: 100%;
}

form input[type=text],
form input[type="password"],
form input[type="email"] {
	color: var(--text-background-color2-color);
	;
	background: #FFFFFF;
	border: 1px solid var(--text-background-color1-color);
	;
	border-radius: 3px;
}

form label {
	display: inline-block;
	margin-bottom: 9px;
}

.error {
	color: #C0392B;
	font-weight: bold;
	display: block;
}

.error+input {
	border-color: #C0392B !important;
	border-width: 2px !important;
}

button {
	background: none;
	padding: 0;
	border: none;
	color: var(--base-color);
	;
	text-decoration: none;
}

button:hover {
	color: var(--hover-color);
	;
	text-decoration: underline;
	cursor: pointer;
}

.pool {
	background-color: #FFFFFF;
	border: 1px solid var(--text-background-color1-color);
	;
	border-radius: 3px;
}

.pool .metadata {
	background-color: #F7F9FA;
	color: var(--text-background-color2-color);
	;
	padding: 0.75em 18px;
	overflow: auto;
}

.pool .metadata span {
	float: right;
}

.pool .metadata strong {
	color: var(--body-color);
	;
}

div.flash {
	color: #FFFFFF;
	font-weight: bold;
	background-color: var(--body-color);
	;
	padding: 18px;
	margin-bottom: 36px;
	text-align: center;
}

div.error {
	color: #FFFFFF;
	background-color: #C0392B;
	padding: 18px;
	margin-bottom: 36px;
	font-weight: bold;
	text-align: center;
}

table {
	background: white;
	border: 1px solid var(--text-background-color1-color);
	;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	text-align: left;
	padding: 9px 18px;
}

th:last-child,
td:last-child {
	text-align: right;
	color: var(--text-background-color2-color);
	;
}

tr {
	border-bottom: 1px solid var(--text-background-color1-color);
	;
}

tr:nth-child(2n) {
	background-color: #F7F9FA;
}

footer {
	border-top: 1px solid var(--text-background-color1-color);
	;
	padding-top: 17px;
	padding-bottom: 15px;
	background: #F7F9FA;
	height: 60px;
	color: var(--text-background-color2-color);
	;
	text-align: center;
}